*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
/*HEADER */
.header {
    width: 100%;
    color: aliceblue;
    padding: 20px;
    background: black;
    box-sizing: border-box;
}
.menu-item {
    list-style: none ;
}
.menu-link {
color: aliceblue;
text-decoration: none;
text-transform:uppercase ;
font-weight: bold;
}

.banner-title, .banner-description{
text-align: center;
color: white;
}

.banner-title {
    font-size: 48px; ;
}
.banner-selection {
    padding: 100px 0;
    background: url(img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
}

/*CARDS*/

.cardss-section {
   padding: 50px 0px; 
}

.cards-title,  .cardss-description {
    color: black;
    text-align: center;
}

.card {
    padding: 25px;
    margin-top: 25px;
    width: 25%;
    background: white;
    box-shadow: 0px 2px 7px #ba09ba;
}

.card-link {
    text-decoration: none; 
    color: white;
}

.card-button {
    text-align: center;
    background: black;
    padding: 10px 70px;
    border-radius:10px;
}

.cards-tittle, .card-text {
    margin-bottom: 10px;
}
